function defineIndexOf(arr, item) {
    return arr ? arr.indexOf(item) : -1;
}
function tofixed(n, digits){
  return n.toFixed(digits);
}
function formatDate(date) {
  return date.match(getRegExp('[0-9]+-[0-9]+-[0-9]+'));
}
module.exports = {
    indexOf: defineIndexOf,
    tofixed: tofixed,
    formatDate: formatDate
}